@model IEnumerable<Application.UsesCases.Servicios.ObtenerServicios.ObtenerServiciosResponse>

@{
    ViewData["Title"] = "Inicio";
}

@* p-5 p-lg-0 pt-lg-5 *@

<section id="home" class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-star w-100">


    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Dale un a <span class="text-primary"> Cariñito </span> a tu carro hoy</h1>
                <p class="lead my-4">
                    Hacemos que tu auto brille como nunca antes
                    lo ha hecho.
                </p>
                <a class="btn btn-primary btn-lg"
                        href="#conocenos">
                    Conocenos
                </a>
            </div>
            <img class="img-fluid w-30 p-3 d-none d-sm-block"
                 src="img/car-washed.png"
                 alt="" />
        </div>
    </div>


</section>

<section id="servicios" class="p-5">
    <h2 class="text-center mb-5">Nuestros servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center align-items-center">

        @foreach(var servicio in Model)
        {
            <div class="col d-flex justify-content-center">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="icon-container mb-3 text-center">
                            <i class="fa-sharp-duotone fa-regular fa-car-wash"></i>
                        </div>
                        <h5 class="card-title">@servicio.Nombre</h5>
                        <p class="card-text">@servicio.Descripcion</p>
                    </div>
                    <div class="card-footer bg-primary">
                        <strong class="text-body-secondary text-white">@servicio.DuracionMinutos minutos - RD$ @servicio.Precio</strong>
                    </div>
                </div>
            </div>
        }
    </div>

</section>

<section id="conocenos" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="~/img/focuswash.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
                <h2>Conocenos</h2>
                <p class="lead">
                    BrillaCar nació con una idea simple pero poderosa: transformar cada auto en una obra de arte en movimiento. 
                    Desde nuestros inicios, nos hemos dedicado a combinar calidad, pasión y servicio para superar las expectativas de nuestros clientes.
                    Lo que empezó como un pequeño sueño hoy es un lugar donde los vehículos no solo brillan, sino que también reflejan 
                    nuestra historia de esfuerzo y dedicación.

                </p>
            </div>
        </div>
    </div>
</section>

<section id="contactanos" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">Contactanos Aqui</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Direccion Fisica
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Republica Dominicana, Distrito Nacional, Av. Sol, Calle Tierra 123.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Correo Electronico
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">BrillaCar@gmail.com</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Numero de Telefono
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">809-555-5555</div>
                </div>
            </div>
        </div>

    </div>

</section>

