
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h1>Modo Administrador</h1>
    <p class="text-center">Hola @ViewData["Nombre"] - @ViewData["Id"]</p>
</div>
