
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1>Hola <b>@ViewData["Nombre"]</b>, bienvenido al modo @ViewData["Rol"]</h1>
</div>
