html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 0px;
    width: 100%;
}

    body:before {
        display: block;
        content: '';
        height: 60px;
    }



form {
    background-color: #343a40; /* Fondo oscuro */
    border: 1px solid #495057; /* Borde oscuro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    max-width: 400px; /* Ancho máximo */
    margin: 20px auto; /* Centrar en la página */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra más marcada */
    color: #ffffff; /* Texto blanco */
}




    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ced4da; /* Borde gris claro */
        border-radius: 5px;
        font-size: 1rem;
        background-color: #495057; /* Fondo oscuro del input */
        color: #ffffff; /* Texto blanco */
        transition: border-color 0.3s ease-in-out;
    }

        form input[type="text"]:focus,
        form input[type="email"]:focus,
        form input[type="password"]:focus {
            border-color: #17a2b8; /* Azul claro al enfocar */
            outline: none;
            box-shadow: 0 0 5px rgba(23, 162, 184, 0.5); /* Sombra azul */
        }




    form button[type="submit"] {
        background-color: #17a2b8; /* Azul claro */
        color: #ffffff; /* Texto blanco */
        padding: 10px 15px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

        form button[type="submit"]:hover {
            background-color: #138496; /* Azul más oscuro */
        }


    form h1 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #ffffff; /* Texto blanco */
    }


@media (max-width: 576px) {
    form {
        padding: 15px;
        max-width: 90%; /* Reducir el ancho en pantallas pequeñas */
    }
}
